Source: aiosignal
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: Piotr Ożarowski <piotr@debian.org>
Build-Depends: debhelper-compat (= 13), dh-python,
               python3-all,
               python3-setuptools,
               python3-frozenlist,
# documentation:
#               python3-sphinx,
#               python3-sphinxcontrib-asyncio,
#               python3-sphinxcontrib.spelling,
Standards-Version: 4.6.0
Homepage: https://github.com/aio-libs/aiosignal
Vcs-Git: https://salsa.debian.org/python-team/packages/aiosignal.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/aiosignal
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bookworm

Package: python3-aiosignal
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
Description: manage callbacks in asyncio projects
 Signal is a list of registered asynchronous callbacks.
 .
 The signal's life-cycle has two stages: after creation its content
 could be filled by using standard list operations: `sig.append()` etc.
 .
 After you call `sig.freeze()` the signal is frozen: adding, removing
 and dropping callbacks is forbidden.
 .
 The only available operation is calling the previously registered
 callbacks by using `await sig.send(data)`.
